.form-register-main {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-register-register {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.form-register-form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-register-name{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-register-email {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-register-password {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-hiden {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: ceter;
}

.login-hiden .bx{
    font-size: 1.2rem;
    font-weight: bold;
}

.login-hiden .bx:hover{
    cursor: pointer;
}